   
.result {
  height: 60px;
  background-color: rgb(213, 106, 240);
  width: 100%;
  
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.keyboard {
  max-width: 400px;
  margin: auto;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
