.result {
  height: 80px;
  background-color: rgb(213, 106, 240);
  width: 42%;
  margin: auto;
}

/* .app {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1,fr;
} */

.keyboard {
  max-width: 400px;
  margin: auto;
}

.buttons {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
