.result {
  height: 80px;
  background-color: rgb(213, 106, 240);
  width: 42%;
  margin: auto;
}
  
.keyboard {
  max-width: 400px;
  margin: auto;
}

.buttons {
  box-shadow: inset 5em 1em gold;
  width: 25%;
  height: 60px;
  font-size: 30px;
  border-style: outset;
}

